.container-reg {
  background-color: white;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-body {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  padding: 2rem;
  margin-left: 2rem;
  background-color: blue;
  box-shadow: 3px 5px 80px rgb(226, 217, 217, 0.7);
}

input {
  width: 100%;
  border: none;
  background-color: white;
  padding: 1rem;
  border-radius: 3rem;
  letter-spacing: 2px;
}

input:focus {
  background-color: rgb(235, 225, 225);
}
